<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	
	<!-- Read scripts -->
	<script src="app.js"></script>
	<link href="app.css" type="text/css" rel="stylesheet"/>	

	<!-- Parse -->
	<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
	
</head>
<body>
	<!-- Initiate app -->
	<div ng-app="myApp" ng-controller="myCtrl">
		<!-- Form -->
		<form class="container" name="songForm">
			<div class="form-group">
				<label>Enter a track or artist:</label>
				<input name="track" placeholder="Enter your search.." ng-minlength="4" ng-model="track" class="form-control"></input>
				<p class="help-block" ng-show="songForm.track.$error.minlength">Must be at least 4 characters long!</p>
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.track.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
			</div>
		</form>
		
		<!-- Results -->
		<div class="container-fixed">
			<div id="search">
				<div class="help-block">
					<span ng-show="tracks.length>0">Click to see similar artists</span>
				</div>
				<ul>
					<li ng-repeat="track in tracks" class="" ng-click="select(track.artists[0].id)" title="{{track.name}}">{{track.artists[0].name + ' - ' + track.name}}</li>
				</ul>		
			</div>	

			<div id="relatedartists">
				<div ng-repeat="related in relateds" class="similar" title="{{related.name}}" ng-style="{'background-image': 'url({{related.images[0].url}})'}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
					<div id="vertical">
						<span ng-show="hoverEdit" class="title">{{related.name}}</span><br />
						<span ng-show="hoverEdit" class="gen">Genre: {{related.genres[0]}} <span ng-show="related.genres.length==0">N/A</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>